@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(to right, rgb(230, 251, 255) 50%, #fff);
}

.nav-bar{
    position: fixed;
    top: 0;
    background: linear-gradient(to right, rgb(230, 251, 255) 50%, #fff);
    border: none;
    border-bottom: 2px solid #DBF6F8;
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row ;
    align-items: center;
}


.content-navbar{
    list-style: none;
    display: flex;
    flex-direction: row ;
    font-family: 'Lexend', sans-serif;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 45px;
    margin: 0;
    margin-right: 95px;
}

.content-navbar a{
    text-decoration: none;
    color: #0D98B7;
    font-weight: 500;
    font-size: 22px;
}

.content-navbar a:hover{
    text-decoration: none;
    color: #0dc1e9;
    font-weight: 500;
    font-size: 22px;
}

.navButton{
    display: flex;
    justify-content: center;
    align-items: center;
    color:  #07B2D9;
    font-family: 'Lexend', sans-serif;
    font-weight: 500;
    font-size: 18px;
    width: 224px;
    height: 50px;
    background: #fff;
    border: 2px solid #07B2D9 ;
    border-radius: 100px;
    cursor: pointer;
}

.navButton:hover{
    color:  #ffffff;
    font-family: 'Lexend', sans-serif;
    font-weight: 500;
    font-size: 18px;
    width: 224px;
    height: 50px;
    background: #07B2D9;
    border: 2px solid #07B2D9 ;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.5s;
}

@keyframes animate{
    from{opacity : 1;}
    from{opacity : 0;}
}

.modalHeader{
    font-family: 'Lexend', sans-serif;
    font-size: 35px;
    color: #fff;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-top: 20px;

}

.modalHeader p{
    margin-left: 41%;
}

.fechar{
    margin-right: 30px ;
}

.modalLogin {
    width: 610px;
    height: 490px;
    background: linear-gradient(to bottom, rgb(20, 140, 167), rgb(210, 235, 240) 70%);
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: animate;
    animation-duration: 0.5s;
    box-shadow: 10px 13px 0px 9000px rgba(62, 82, 88, 0.516);
    border-radius: 20px;
}


.enterButton{
    margin: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.enterButton0{
    width: 420px;
    height: 45px;
    border: none;
    border-radius: 10px;
    padding: 0;
    font-family: 'Lexend', sans-serif;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    background-color: #55c0d8;
    
}

.modalCadastro {
    width: 610px;
    height: 770px;
    background: linear-gradient(to bottom, rgb(41, 155, 180), rgb(49, 107, 117) 70%);
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: animate;
    animation-duration: 0.5s;
    box-shadow: 10px 13px 0px 9000px rgba(62, 82, 88, 0.516);
    border-radius: 20px;
}

.fechar{
    float: right;
    cursor: pointer;
}

.modalInputs p{
    font-family: 'Lexend', sans-serif;
    color: #353535;
    font-size: 24px;
    font-weight: 600;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px

}

.modalInputs input{
    width: 420px;
    height: 65px;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #353535;
    padding-left: 10px;
    font-size: 20px;

}

.modalInputs01 input{
    width: 420px;
    height: 50px;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #353535;
    padding-left: 10px;
    font-size: 20px;

}

.modalInputs01 p{
    font-family: 'Lexend', sans-serif;
    color: #353535;
    font-size: 19px;
    font-weight: 600;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px

}

.modalImage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.modalImage01{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

::placeholder{
    font-family: 'Lexend', sans-serif;
    color: #999999;
    font-size: 22px;
    font-weight: 200;
    padding-left: 20px;
}


.modalLogin:target{
    visibility: visible;
    opacity: 1;
}

.modalContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.imgNav{
    margin: 0;
    margin-left: 95px;
}

.mainLeft{
    font-family: 'Lexend', sans-serif;
}

.nameBlack{
    color: black;
    font-size: 100px;
}

.nameBlue{
    color: #0388A6;
    font-size: 100px;
    font-weight: 600;
}

.titleLine1{
    display: flex;
    gap: 30px;
}

.sub{
    color: #777C7D ;
    font-size: 24px;
}

.sub01{
    color: #000;
    font-size: 26px;
}

.subTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 17px;
}

.mainButton{
    font-family: 'Lexend', sans-serif;
    background-color: #10AACC;
    width: 290px;
    height: 58px;
    color: #fff;
    font-size: 26px;
    border-radius: 100px;
    border: none;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer ;

}

.mainButton:hover{
    font-family: 'Lexend', sans-serif;
    background-color: #0ac6f0;
    width: 290px;
    height: 58px;
    color: #fff;
    font-size: 26px;
    border-radius: 100px;
    border: none;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer ;
    transition: 0.5s;

}

.mainButton img{
    padding-left: 15px;
}

.subTitle{
    padding: 0;
    padding-top: 22px;
}

.botaoMain{
    padding: 0;
    padding-top: 30px;
}

.mainLeft{
    margin: 0;
    margin-left: 200px;
    margin-top: 145px;
}

.Rightline{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.Rightline02{
    display: flex;
    flex-direction: row;
    padding: 0;
    padding-top: 50px;
    gap: 50px;
}

.img01 img{
    border-radius: 100px 10px 10px 10px;

}

.img02 img{
    border-radius: 10px 10px 10px 10px;

}

.img03 img{
    border-radius: 10px 10px 10px 10px;

}

.img04 img{
    border-radius: 10px 100px 10px 10px;

}

.mainRight{
    padding: 0;
    padding-top: 125px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-right: 200px;

}

#main{
    margin: 0;
    margin-top: 5rem;
    display: flex;
    flex-direction: row ;
    /* border: 1px solid purple; */
    justify-content: space-around;
    
}

.ondas img{
    width: 100%;
    margin: 0;
    padding: 0;
    /* border: 1px solid green; */
}

.encontra{
    color: #000;
    font-family: 'Lexend', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    font-weight: 400;
}

.boxes{
    display: flex;
    flex-direction: row;
    gap: 55px;
    justify-content: center;
    padding: 0;
    padding-top: 115px;
}

.box01{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 4px solid #3EA7C2;
    background-color: #EEFBFF;
    width: 267px;
    height: 380px;
    box-shadow: 2px 2px 2px 1px rgba(22, 22, 22, 0.2);
}

.box02{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 4px solid #32BD9F;
    background-color: #F2FFFC;
    width: 267px;
    height: 380px;
    box-shadow: 2px 2px 2px 1px rgba(22, 22, 22, 0.2);
}

.box03{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 4px solid #E9BF28;
    background-color: #FFFDF4;
    width: 267px;
    height: 380px;
    box-shadow: 2px 2px 2px 1px rgba(22, 22, 22, 0.2);
}

.box04{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 4px solid #F58F5C;
    background-color: #FFF9F6;
    width: 267px;
    height: 380px;
    box-shadow: 2px 2px 2px 1px rgba(22, 22, 22, 0.2);

}

.blueBox, .greenBox, .yellowBox, .orangeBox {
    display: flex;
    flex-direction: column ;
    /* justify-content: center; */
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;

}

.blueBox p{
    padding: 0;
    padding-top: 30px;
    color: #36A1BD;
    text-align: center;
}

.blueBox img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 190px;
}

.greenBox p{
    padding: 0;
    padding-top: 30px;
    color: #32BD9F;
    text-align: center;
}

.greenBox img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 190px;
}

.yellowBox p{
    padding: 0;
    padding-top: 30px;
    color: #E8BF28;
    text-align: center;
}

.yellowBox img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 170px;
}


.orangeBox p{
    padding: 0;
    padding-top: 30px;
    color: #F58F5C;
    text-align: center;
}

.orangeBox img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
}

.mais{
    color: #000;
    font-family: 'Lexend', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    font-weight: 400;
    padding: 0;
    padding-top: 115px;
    padding-bottom: 100px;
}

.sobreButton img{
    width: 70px;
}

.sobreButton{
    font-family: 'Lexend', sans-serif;
    background-color: #10AACC;
    width: 835px;
    height: 90px;
    gap: 15px;
    color: #fff;
    font-size: 28px;
    border-radius: 100px;
    border: none;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer ;
    transition: 0.5s;
}

#button{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer{
    margin: 0;
    margin-top: 190px;
    width: 100%;
    height: 343px;
    background-color: #57A1B1;
    color: #fff;
    font-family: 'Lexend', sans-serif;

}

.icons{
    display: flex;
    flex-direction: row;
    
    align-items: center;
}

.nameFooter p{
    padding: 0;
    padding-bottom: 5px;
    font-size: 24px;
    font-weight: 400;
}

.nameFooter{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.point{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #fff;
}

.emailFoter p{
    font-size: 23px;
    font-weight: 200;
}

.rightUp{
    margin: 0;
    margin-left: 120px;
    /* border: 1px solid blue; */
}

.emailFoter{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0;
    padding-top: 5px;
}

.icons{
    margin: 0;
    margin-right: 120px;
    gap: 40px;
    /* border: 1px solid pink; */
}

.upFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.upFooter{

    padding: 0;
    padding-top: 86px;
}

.line{
    margin: 0;
    margin-top: 80px;
    margin-left: 120px;
    width: 87%;
    height: 2px;
    background-color: #fff;
}

.downFooter{
    margin: 0;
    margin-top: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 20px;
    font-weight: 200;
    gap: 10px;
}